Repository 10TEAM-SAVEUS/TEAM-SAVEUS, pull requests merged in 2024-09, with the labels that each got.

#22 Feature/취약점 코드 분석 페이지 & Github Oauth & 파이어스토어에 분석코드 포스트
  next.config.mjs
  package-lock.json
  package.json
  requirements.txt
  src/app/api/request_token/route.ts
  src/app/login_loading/page.tsx
  src/app/page.tsx
  src/app/profile/page.tsx
  src/app/storage/page.tsx
  src/app/store/analysisStore.ts
  src/app/ui_analyze/[reponame]/page.tsx
  src/app/ui_analyze/page.tsx
  src/app/ui_login/page.tsx
  src/app/ui_main/page.tsx
  src/assets/Right.svg
  src/assets/filelist/dir.svg
  src/assets/filelist/file.svg
  src/assets/filelist/title.svg
  src/assets/logo.svg
  src/components/common/AnalyzeResult.tsx
  src/components/common/CodeAnalyzer.tsx
  src/components/inspection/CodeInspect.tsx
  src/components/inspection/RepoInspect.tsx
  src/components/list/ContentsFileList.tsx
  src/firebase/data_adding.ts
  src/firebase/data_getting.ts
  src/firebase/setting.ts
  src/pages/api/analyzeCode.ts
  src/type/type.ts
Labels: ✨ feat, ➕ add, 📲 Firebase, 🎯 Component, 🤗 OAuth, 🏒 Octokit, 🔥 Next.js

#27 Feature/multiple inspection
  .gitignore
  src/app/store/analysisStore.ts
  src/app/ui_analyze/[reponame]/page.tsx
  src/assets/FileImg.svg
  src/assets/filelist/CheckedCircle.svg
  src/assets/filelist/Checker.svg
  src/components/common/AnalyzeResult.tsx
  src/components/common/CodeAnalyzer.tsx
  src/components/list/ContentsFileList.tsx
  src/components/modal/FileListModal.tsx
  src/fileDownload.ts
  src/firebase/data_getting.ts
Labels: ✨ feat, 🎆react, ➕ add, 📲 Firebase, 🔥 Next.js

#28 Feature/chatbot
  package-lock.json
  package.json
  src/app/vulnerabilityDB/[id]/page.tsx
  src/components/ChatBot/ChatBot.tsx
  src/components/ChatBot/ChatBotContainer.tsx
  src/components/common/AnalyzeResult.tsx
  src/pages/api/chat.ts
  src/utils/openai.ts
Labels: ✨ feat, ➕ add, 🎯 Component, 💤 LLM, 🔥 Next.js

#30 Feature/storage&result
  src/app/storage/page.tsx
  src/app/vulnerabilityDB/[id]/page.tsx
  src/assets/Arrow.svg
  src/assets/FileImg.svg
  src/assets/Inspection.svg
  src/assets/filelist/CheckedCircle.svg
  src/assets/filelist/Checker.svg
  src/assets/group.svg
  src/components/common/LibraryList.tsx
  src/components/inspection/RepoInResult.tsx
  src/components/storage/FolderCardClient.tsx
  src/components/storage/FolderCardPaginationClient.tsx
  src/components/storage/ProfileLinkSection.tsx
  src/components/storage/StorageLibrarylist.tsx
  src/firebase/data_fetching.ts
Labels: ✨ feat, ➕ add, 🎯 Component
